<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity android:name="local.pocketchat.AppUpdateIntegrationActivity" android:exported="true" android:launchMode="singleTask" />
    <provider android:name="local.pocketchat.GeckoUploadFixtureProvider" android:authorities="local.pocketchat.test.upload" android:exported="false" />
    <activity android:name="local.pocketchat.GeckoIntegrationTestActivity" android:exported="true" android:launchMode="singleTask" />
    <activity android:name="local.pocketchat.ProfileGeckoIntegrationActivity1" android:exported="true" android:process=":profile1" android:launchMode="singleTask" />
  </application>
</manifest>
